* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}


/* NAVBAR SECTION STYLE  */
.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #252525;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    line-height: 80px;
    position: -webkit-sticky;
    top: 0;
    background: #FEFEFE;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #252525;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.tbl-biru {
    background: #3498db;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FEFEFE;
    cursor: pointer;
    font-weight: bold;
}

.tbl-biru:hover {
    background: #e84393;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* CONTENT DESC SECTION */
.content-wrapper {
    padding: 0px 5rem;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.headImage {
    border-radius: 20px;
    margin: 2rem;
}

.column {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 2rem;
}

.column .desc {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525; 
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #252525;
    width: 100%;
    line-height: 50px;
}

.tbl-pink {
    background: #e84393;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FEFEFE;
    cursor: pointer;
    font-weight: bold;
}

.tbl-pink:hover {
    background: #3498db;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}


/* "PENGAJAR" SECTION */
.center {
    margin: auto;
}

.list-pengajar {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-pengajar {
    width: 20%;
    margin: 0 auto;
}

.kartu-pengajar img {
    width: 85%;
    border-radius: 50%;
}

.kartu-pengajar p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #252525;
}


/* PARTNERS LIST */
.list-partner {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}


/* FOOTER SECTION */
#kontak {
    background: #bbbbbb;
    padding: 2rem;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50%;
}


/* FOOTER */
#copyright {
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: auto;
}